.signup {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 540px;
    margin: 40px auto 0;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(27,27,27);
}

.signin{
    display: flex;
        flex-direction: column;
        max-width: 800px;
        height: 412px;
        margin: 40px auto 0;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: rgb(27, 27, 27);
}

label {
    margin-bottom: 1rem;
    color: #e4d6d4;
    font-size: 1.5rem;
    width: 100%;
    margin-right: 0.5rem;
    text-align: right;
}

input {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    width: 94%;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}