.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(27, 27, 27);
}

.navbar {
  display:flex;
  justify-content: space-between;
  background-color: rgb(190, 22, 190)
}

nav ul {
  list-style: none;
  display: flex;
  /* use flexbox to align items */
  justify-content: space-between;
  /* distribute items evenly */
  align-items: center;
  /* center items vertically */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav li {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: rgb(28, 28, 179);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: lightgray;
}

p {
  color: lightgray;
}
